
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="@Url.Content("~/Edukate-1.0.0/img/about.jpg")" style="object-fit: cover;" alt="Hakkımızda">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Hakkımızda</h6>
                    <h1 class="display-4">Online Eğitimin İlk Tercihi</h1>
                </div>
                <p>
                    Öğrencilerimiz için en kaliteli online eğitim içeriklerini sunuyoruz.
                    Zengin materyaller, uzman eğitmenler ve erişilebilir derslerle her yerden ve her zaman öğrenmenin kapılarını aralıyoruz.
                    Amacımız, dijital çağın gereksinimlerine uygun yenilikçi bir öğrenme deneyimi sunmaktır.
                </p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">25</h1>
                            <h6 class="text-uppercase text-white">Mevcut<span class="d-block">Dersler</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1343</h1>
                            <h6 class="text-uppercase text-white">Online<span class="d-block">Kurslar</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">17</h1>
                            <h6 class="text-uppercase text-white">Uzman<span class="d-block">Eğitmenler</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">798</h1>
                            <h6 class="text-uppercase text-white">Mutlu<span class="d-block">Öğrenciler</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
